/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.step1{
background-color: lightskyblue;
font-size: 18px;
}
.step2{
background-color: purple;
font-size: 18px;
}
.step3{
background-color: skyblue;
font-size: 18px;
}
.header-font{
font-size:24px;
}

.header-bg{
background-color:white;
}

.item-listing{
min-height: 100px;
max-width: 100%;
background-color: skyblue;
border-bottom: 1px solid yellow;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
padding:20


}

.footer-content{
min-height: 100px;
max-width: 80%;
background:whitesmoke;
}
.item-details{
max-width: 90%;
min-height:100px;
text-align:leftlk ;
font-size:14px;

}

.logged-user{
font-size:18px;
background-color:lightskyblue;
font-style: italic;

}
.item-listing-padding{
padding: 20
}
.upload-product{
max-width: 400px;
}
.upload-product-bg{
background-color: skyblue;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
padding:20

}
.upload-product-bg2{
background-color: skyblue;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
padding:20

}
.upload-product-bg3{
background-color: yellow;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
padding:20

}
.upload-product-bg4{
background-color: magenta;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
padding:20

}
.upload-form{
background-color:whitesmoke;
}
.bs-example{
    	margin: 20px;}

.wrapper {
	margin-top: 30px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: skyblue;
  border: 1px solid yellow;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.reg-form{
background:skyblue;
}

/*item-details-popup window */
.sample-window {
width: 300px;
padding: 5px;
border: 2px solid yellow;
background-color: skyblue;


}
.product-details-window{
border: 1px solid yellow;

}
.details-box{
border: 1px solid green;
background-color: white;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px
}
.plainmodal-close {
cursor: pointer;
}
.sample-window .plainmodal-close {
display: inline-block;
padding: 1px 3px;
color: #fff;
background-color: #224388;
}
.sample-window .plainmodal-close:hover {
background-color: #1f99e2;
}
#demo {
width: 450px;
padding: 20px 40px;
color: #fff;
background-color: #00aa6a;
border-radius: 10px;
display: none;
font-family: 'Georgia', serif;
}
#demo:after { /* clearfix */
content: "";
clear: both;
display: block;
}
#demo p {
font-size: 18px;
}
#demo .sample-head {
margin: 0 0 15px;
font-size: 36px;
font-weight: bold;
}
#demo img {
float: left;
margin-right: 10px;
box-shadow: none;
}
#demo .plainmodal-close {
position: absolute;
width: 45px;
height: 45px;
right: -15px;
top: -15px;
background: url('plainmodal-close.png') no-repeat;
}
#demo .plainmodal-close:hover {
background-position: -45px 0;
}
/*item-details-end*/
dialog {
    width: 500px;
    background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}

 .bs-example{
    	margin: 20px;
    }
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}

.menu-general{

}
.how-to-create-ad{
color: yellow;
background-color: skyblue;
}

.slider-height{
min-height: 1000px;
}

.my-account{
color: brown;
}
.my-account-details{
background-color:;
}