{% extends 'base2.html' %}
{% load staticfiles %}
{% block search %}
<div class="container">
	<div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts in other categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
	</div>
</div>
{% endblock search %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <div class="col-sm-3 header-bg slider-height">

	<div class="row">
        <div class="col-sm-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    {% csrf_token %}
                    <input type="text" class="form-control input-lg" placeholder="Search e.g flowers" id="search" name="search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>

                </div>

            </div>
            <div class="" id="search-results">

                </div>
        </div>
	</div>
<hr><br>
            <div class="col-sm-12 ">
                <div id="myCarousel" class="carousel slide " data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                      </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
      <img src="{% static 'images/mug.jpg' %}" height=250 width=100% />
      <div class="carousel-caption">
        <h3>anniversary gifts</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/love.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>
      <div class="item">
      <img src="{% static 'images/love.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/pata_gift.png' %}" alt="birthday">
      <div class="carousel-caption">
        <h3>Birthday</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/pata_gift.png' %}" alt="graduation">
      <div class="carousel-caption">
        <h3>graduation</h3>

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div></div>

           <div class="col-sm-9" id="anniversary-items">
               <div class="h4 row-centered">anniversary Gifts on Sale! Check out the deals</div><br>

                {% for product in anniversary_gifts.product_set.all %}

               <div class="col-sm-12 item-listing upload-product-bg text-info text-center">

                        <div class="col-sm-2 col-centered">Item:&nbsp;&nbsp;&nbsp;{{ product.product_name }}<br>
                            Price:&nbsp;&nbsp;<b>Ksh.</b>&nbsp;&nbsp;{{ product.product_price }}</div>
                        <div class="col-sm-2 row-centered"><a data-overlay-trigger href="{% url 'product_details' product.id %}" >
                            <img class="img img-circle" src="{{ product.product_image.url }}" height="75" width="75"></a></div>
                       <div class="col-sm-4 ">
                           Call&nbsp;&nbsp; |&nbsp;&nbsp;Text &nbsp;&nbsp;|&nbsp;&nbsp; Whatsapp<br>

                         {{ product.product_trader }}<br>
                        {{ product.product_trader.trader_phone_number }}
                       </div>
                        <div class="col-sm-2 col-centered">{{ product.date_posted }}</div>
                        <div class="col-sm-2 col-centered">Quantity<br>
                            {% if product.product_quantity > 1 %}
                            {{ product.product_quantity }} &nbsp;&nbsp;&nbsp;{{ product.product_name|pluralize }}
                            {% else %}
                            {{ product.product_quantity }} &nbsp;&nbsp;&nbsp;{{ product.product_name }}
                            {% endif %}

                        </div>
               </div>
            {% endfor %}

           </div>

        </div>

    </div>

</div>

{% endblock content %}