<!DOCTYPE  html>

<html>

{% load staticfiles %}

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rango application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.js' %}"></script>

</head>

<body>
<div class="container">
    <div><img class="img img-circle" src="{% static 'images/fam1.jpg' %}" alt="Emily and Steven" height="50" width="50" /></div>
    <div class="h1">Pata gift</div>
    <div class="row">
        <div class="col-sm-3">
        infor area
        </div>
        <div class="col-sm-3">
        wedding gifts
        </div>
        <div class="col-sm-3">
        birthday gifts
        </div>
        <div class="col-sm-3">
        love gifts
        </div>
    </div>
</div>

<div >
<hr>
    <a href="/rango/">Home</a> &nbsp;&nbsp;&nbsp;{{ numbers }}
</div>

<hr><hr><hr>
<div class="container">
    <div class="col-sm-9">
        <span>
            <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        </span>
    </div>
</div>

</body>
</html>