{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>
            <li role="presentation" ><a href="{% url 'my_account' %}"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;My account</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>

	</div>
    </div>

</div>

<div class="container">
    <div class="row">

        <div class="col-sm-8 ">

            <div class="text-info">
             {% if messages  %}
            {% for message in messages %}
            <ul>{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}
            </div>
            <br><br>
            <span class="text-info"> What kind of gift are you selling?</span>
            <h3></h3>
            <div class="col-sm-12 row-centered upload-product-bg">
                <form class="form form-horizontal" id="product_step_1" method="POST" action=""
                      enctype="multipart/form-data">
                     {% if product_form.errors %}
                <div class="text-danger">Please correct the error{{ product_form.errors|pluralize }} below.</div>
                {% for field in product_form.errors %}
                {{ field.error }}
                {% endfor %}
                    {% endif %}

                {% csrf_token %}

                <!--form fields -->
               <div class="fieldWrapper">
                   <br>
                {{ product_form.product_name.errors}}
                {{  product_form.product_name.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{  product_form.product_name }}
                </div>
                <div class="fieldWrapper">
                {{ product_form.product_price.errors}}
                {{  product_form.product_price.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{  product_form.product_price }}
                </div>


                 <div class="fieldWrapper">
                {{ product_form.product_quantity.errors}}
                {{  product_form.product_quantity.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{  product_form.product_quantity }}
                </div>
                    <div class="control-group">
                {{ product_form.product_image.errors}}
                    {{  product_form.product_image.label_tag}}
                    {{  product_form.product_image }}
                </div>


                    <div class="control-group">

                     <div class="controls">
                         <button class="btn btn-success">Add</button>
                     </div>
                 </div>


                </form>


            </div>
            </div>

        </div>
    </div>
{% endblock content %}
