{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
        <span class="text-danger">Are you sure you want to delete {{ product }}?</span>
        <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete" />
      <a href="{% url 'my_account' %}"><input type="button" value="Cancel" /></a>
    </form>
    </div>
    </div>
</div>
{% endblock content %}