{% extends "base.html" %}

{% block content %}
  <h2>Change Status</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ product_location_form.non_field_errors }}
        <div class="fieldWrapper">
                {{ product_location_form.trader_main_city.errors}}
                {{ product_location_form.trader_main_city.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ product_location_form.trader_main_city }}
            </div>
        <div class="fieldWrapper">
                {{ product_location_form.product_price.errors}}
                {{ product_location_form.product_price.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_location_form.product_price }}
            </div>
                <div class="fieldWrapper">
                {{ product_location_form.trader_sub_area.errors}}
                {{ product_location_form.trader_sub_area.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_location_form.trader_sub_area }}
                 </div>
        <div class="fieldWrapper">
                {{ product_location_form.trader_street.errors}}
                {{ product_location_form.trader_street.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_location_form.trader_street }}
                 </div>
        <div class="fieldWrapper">
                {{ product_location_form.trader_physical_location.errors}}
                {{ product_location_form.trader_physical_location.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_location_form.trader_physical_location }}
                 </div>
  <input type="submit" value="Submit" />
  <a href="{% url 'my_account' %}"><input type="button" value="cancel" /></a>
  </form>
{% endblock %}