{% extends "base.html" %}

{% block content %}
  <h2>Change Status</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ product_form.non_field_errors }}
        <div class="fieldWrapper">
                {{ product_form.product_name.errors}}
                {{ product_form.product_name.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ product_form.product_name }}
            </div>
        <div class="fieldWrapper">
                {{ product_form.product_price.errors}}
                {{ product_form.product_price.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_price }}
            </div>
                <div class="fieldWrapper">
                {{ product_form.product_image.errors}}
                {{ product_form.product_image.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_image }}
                 </div>
        <div class="fieldWrapper">
                {{ product_form.product_quantity.errors}}
                {{ product_form.product_quantity.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_quantity }}
                 </div>
  <input type="submit" value="Submit" />
  <a href="{% url 'my_account' %}"><input type="button" value="cancel" /></a>
  </form>
{% endblock %}