{% extends "base.html" %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>
            <li role="presentation" ><a href="{% url 'my_account' %}"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;My account</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>
      </ul>

	</div>

          <div class="col-sm-6 row-centered upload-product-bg">
              <br><br>
            <form action="" method="post">
        {% csrf_token %}
        {{ product_form.non_field_errors }}
        <div class="fieldWrapper">
                {{ product_form.product_name.errors}}
                {{ product_form.product_name.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ product_form.product_name }}
            </div>
        <div class="fieldWrapper">
                {{ product_form.product_price.errors}}
                {{ product_form.product_price.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_price }}
            </div>
                <div class="fieldWrapper">
                {{ product_form.product_image.errors}}
                {{ product_form.product_image.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_image }}
                 </div>
        <div class="fieldWrapper">
                {{ product_form.product_quantity.errors}}
                {{ product_form.product_quantity.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {{ product_form.product_quantity }}
                 </div>
                <br>
                <button class="btn btn-success">Update</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'my_account' %}">
                <button class="btn btn-info">Cancel</button>
            </a>
                <br><br>
   </form>

        </div>

  </div></div>

{% endblock %}
