{% extends 'base2.html' %}
{% load staticfiles %}
{% block search %}
<div class="container">
	<div class="row">
        <ul class="nav nav-tabs">


              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select gifts by Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
	</div>
</div>
{% endblock search %}
<br>

{% block content %}
<br>
<div class="container ">
    <div class="row">
        <div class="col-sm-3 header-bg slider-height">

	<div class="row">
        <div class="col-sm-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    {% csrf_token %}
                    <input type="text" class="form-control input-lg" placeholder="Search e.g flowers" id="search" name="search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>

                </div>

            </div>
            <div class="" id="search-results">

                </div>
        </div>
	</div>
<hr><br>
            <div class="col-sm-12 ">
                <div id="myCarousel" class="carousel slide " data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                      </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
      <img src="{% static 'images/love2.jpg' %}" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/lover.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>
      <div class="item">
      <img src="{% static 'images/lovee.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/love5.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/lovea.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
           <div class="col-sm-12 ">
                <div id="myCarousel2" class="carousel slide " data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                        <li data-target="#myCarousel2" data-slide-to="2"></li>
                        <li data-target="#myCarousel2" data-slide-to="3"></li>
                        <li data-target="#myCarousel2" data-slide-to="4"></li>
                      </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
      <img src="{% static 'images/grad1.jpg' %}" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Graduation</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/grad2.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Graduation</h3>

      </div>
    </div>
      <div class="item">
      <img src="{% static 'images/grad3.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Graduation</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/grad4.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Graduation</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/grad5.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Graduation</h3>

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>

               <div class="col-sm-12 ">
                <div id="myCarousel3" class="carousel slide " data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel3" data-slide-to="1"></li>
                        <li data-target="#myCarousel3" data-slide-to="2"></li>
                        <li data-target="#myCarousel3" data-slide-to="3"></li>
                        <li data-target="#myCarousel3" data-slide-to="4"></li>
                      </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
      <img src="{% static 'images/lovez.jpg' %}" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/lovey.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>
      <div class="item">
      <img src="{% static 'images/lovew.jpg' %}" alt="love" height=250 width=100% />
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/lover.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/love6.jpg' %}" alt="love">
      <div class="carousel-caption">
        <h3>Love</h3>

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>


           </div>
<!--end of corousel-->

        {% for category in category_columns %}
        <div class="col-sm-3"><h4 class="text-success">{{ category.product_category }}</h4>

        {% for product in category.product_set.all %}

           <div class="item-listing ">
               <div class="row">
               <div class="col-sm-3">
                   <a data-overlay-trigger href="{% url 'product_details' product.id %}" ><img class="img img-circle" src="{{ product.product_image.url }}" height="75" width="75" />
               </div>
               <div class="col-sm-9 item-details">

              {{ product.product_name }}</a>
                   <table class="table table-hover table-condensed">
               <tr><td>Trader Name:</td><td> {{ product.product_trader }} </td></tr>
               <tr><td>Posted:</td><td> {{ product.date_posted }}</td></tr>
               <tr><td>Price:&nbsp;&nbsp;Ksh. &nbsp;</td><td><span class="badge">Ksh.&nbsp;&nbsp; {{ product.product_price }}</span></td></tr>
               <tr><td>Call/Text:</td><td> <i class="glyphicon glyphicon-phone"></i>{{ product.product_trader.trader_phone_number }}</td></tr>
               <!--Website:<a href="{{  product.product_trader.trader_website }}">{{ product.product_trader.trader_website }}</a><br>-->
                       </table>

               </div>
           </div>
        </div><br>
        {% endfor %}

        </div>

        {% endfor %}
    </div>

</div><br>





{% endblock content %}

