{% extends 'base.html' %}

{% block content %}
<div class = "container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other gifts in categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
	</div>
	<div class="wrapper">
		<form action="{% url 'login' %}" method="post" name="Login_Form" class="form-signin">
             {% csrf_token %}
		    <h4 class="form-signin-heading">Welcome! please sign in and sale </h4>
			  <hr class="colorgraph"><br>
            <span class="help-block text-danger" id="inactive_account">
                        {{ error_msg }}
                </span>

			  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
			  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <span class="help-block text-danger" id="invalid_credentials">
                        {{ invalid_details }}
                </span>

			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
		</form>
	</div>
</div>


<div class="container-fluid row-centered header-bg">
    <br>
   <div class="row ">
        <div class="col-sm-4">
            <div class="footer-content " >
                About Pata Gift Services
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-content " >
                Terms and Conditions
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class=" footer-content" >
                Our Contacts
            </div>
        </div>
    </div>
    <hr>
 <div class="row">
         &copy;&nbsp;Joan Njeri - 2015
    </div>
</div>
{% endblock content %}