{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts in Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>
            <button class="btn upload-product-bg pull-right " type="button">
          My Ads <span class="badge">{{ my_ads }}</span>&nbsp;|&nbsp;<a href="{% url 'logout' %}">logout</a>
                &nbsp;|&nbsp;<a href="{% url 'edit_profile' %}">update profile</a>
                 &nbsp;|&nbsp;<a href="{% url 'profile_preview' %}">profile preview</a>
        </button>
      </ul>


        <div class="col-sm-12">
               <h3 class="text-center upload-product-bg how-to-create-ad">Create a free Ad in 30 Seconds</h3><br>
            <div class="col-sm-4">

            <span class="btn upload-product-bg  step1">Step 1:</span>
            Choose a category<br><br>

            <ul class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'create_product_step_1' wedding_category.id %}" class="btn upload-product-bg">{{ wedding_category }}</a></li>
            <li><a href="{% url 'create_product_step_1' love_category.id %}" class="btn upload-product-bg2">{{ love_category }}</a></li>
            <li><a href="{% url 'create_product_step_1' birthday_category.id %}" class="btn upload-product-bg">{{ birthday_category }}</a></li>
           <li><a href="{% url 'create_product_step_1' anniversary_category.id %}" class="btn upload-product-bg2">{{ anniversary_category }}</a></li>
           <li><a href="{% url 'create_product_step_1' graduation_category.id %}" class="btn upload-product-bg">{{ graduation_category }}</a></li>

          </ul>
        </ul>
            </div>
            <div class="col-sm-4">
            <span class="btn upload-product-bg  step2">Step 2:</span>
            Add location details<br><br>
            {% if latest %}
            <a href="{% url 'create_product_step_2' latest.id %}">{{ latest }}</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                {{ latest.get_location_state_display }}&nbsp;&nbsp;|&nbsp;&nbsp;
                {{ latest.get_image_state_display }}
            {% endif %}

            </div>

           <div class="col-sm-4">
            <span class="btn upload-product-bg step3">Step 3:</span>
            Add more images of the product<br><br>
            {% if latest %}
            <a href="{% url 'create_product_step_3' latest.id %}">Add images</a>
            {% endif %}
            </div>
        </div>
        <div class="col-sm-12">
            <h3 class="text-center upload-product-bg how-to-create-ad">My Ads</h3>
            {% if ads %}
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <th data-field="id" class="col-xs-2">Product</th>
                <th data-field="price" class="col-xs-2">Profile</th>
                <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;Location</th>
                <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;Images</th>

                </thead>
                {% for ad in ads %}
                <tr>
                    <td>
                        <a href="/pata_gift/product_details/{{ ad.id }}">{{ ad.product_name }}</a>
                    </td>
                    <td>
                        <img class="img img-circle" src="{{ ad.product_image.url }}" height="50" width="50">
                    </td>
                    <td>
                        {% if ad.location_state == 1 %}
                       <span class="text-success">{{ ad.get_location_state_display }}</span>
                        {% else %}
                        <span class="text-danger">{{ ad.get_location_state_display }}</span>
                        <a href="{% url 'create_product_step_2' ad.id %}">add</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if ad.image_state == 1 %}
                       <span class="text-success">{{ ad.get_image_state_display }}</span>&nbsp;&nbsp;|&nbsp;
                        <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                  Manage
                                  <span class="caret">
                                  </span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                    <a class="text-info" href="/pata_gift/edit/{{ ad.id }}">Edit</a>
                                  </li>
                                  <li>
                                    <a class="text-danger" href="/pata_gift/delete/{{ ad.id }}">Delete</a>
                                  </li>
                                </ul>
                        </div>
                        {% else %}
                        <span class="text-danger">{{ ad.get_image_state_display }}</span>&nbsp;&nbsp;|&nbsp;
                        <a href="{% url 'create_product_step_3' ad.id %}">add</a>
                        <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                  Manage
                                  <span class="caret">
                                  </span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                    <a class="text-info" href="/pata_gift/edit/{{ ad.id }}">Edit</a>
                                  </li>
                                  <li>
                                    <a class="text-danger" href="/pata_gift/delete/{{ ad.id }}">Delete</a>
                                  </li>
                                </ul>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                 {% endfor %}
            </table>


            {% else %}
            <h4>You have not posted any ads</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
