{% extends 'base2.html' %}
{% load staticfiles %}
{% block search %}
<div class="container">
	<div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other gifts in categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
	</div>
</div>
{% endblock search %}
<hr><br>
{% block content %}
<br>
<div class="container row-centered ">
	<div class="row">
	<div class="  upload-product-bg product-details-window col-sm-6">
		<div class="align-center ">
			<br>
			<span class="text-info h4">Gift Profile</span>
			<br><br>
			<table class="table table-responsive table-hover">

				<tr>
					<td>Gift category</td><td>{{ product_name.product_category|capfirst }}</td>
				</tr>
				<tr>
					<td>Gift name</td><td>{{ product_name.product_name|capfirst }}</td>
				</tr>

				<tr>
					<td>Gift trader</td><td>{{ product_name.product_trader|capfirst }} <br>

					<span class="text-info"> On Pata Gift since &nbsp;&nbsp;&nbsp;{{ product_name.product_trader.user.date_joined|date }}</span></td>
				</tr>
				<tr>
					<td>Call&nbsp;|&nbsp;Text&nbsp;|&nbsp;WhatsApp </td><td><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;{{ product_name.product_trader.trader_phone_number }}</td>
				</tr>
				<tr>
					<td>Quantity available </td><td>{{ product_name.product_quantity }}</td>
				</tr>
				<tr>
					<td>Price</td><td><span class="badge">Ksh.&nbsp;&nbsp; {{ product_name.product_price }}</span></td>
				</tr>
			</table>
			<br>
			<span class="text-info h5">This gift is being sold at</span>
			<br><br>

			<table class="table table-responsive table-hover">

				{% for location in product_location %}
				<tr>
					<td>Main city</td><td>{{ location.trader_main_city }}</td>
				</tr>
				<tr>
					<td>Sub area</td><td>{{ location.trader_sub_area }}</td>
				</tr>
				<tr>
					<td>Street</td><td>{{ location.trader_street }}</td>
				</tr>
				<tr>
					<td>Physical location</td><td>{{ location.trader_physical_location }}</td>
				</tr>
				{% endfor %}
			</table>

		Posted on: &nbsp;&nbsp;&nbsp;{{ product_name.date_posted }}
	</div>

	<!--next column-->

</div>
	<div class="upload-product-bg product-details-window col-sm-6"><br><br>
		<span class="text-info h4">Gift image(s)</span><br><br>


			<a class="fancybox img img-responsive img-circle" href="{{ product_name.product_image.url }}" data-fancybox-group="gallery" ><img  src="{{ product_name.product_image.url }}"
				 height="120" width="120" alt="product" ></a><hr>

			{% for images in product_images %}

			<a  class="fancybox img img-circle" href="{{ images.product_image_1.url }}" data-fancybox-group="gallery"><img  src="{{ images.product_image_1.url }}" height="120" width="120"></a>&nbsp;&nbsp;&nbsp;&nbsp;
			{% if images.product_image_2 %}
			<a  class="fancybox" href="{{ images.product_image_2.url }}" data-fancybox-group="gallery" ><img  src="{{ images.product_image_2.url }}" alt="" height="120" width="120"></a><hr>
			{% else %}
			<div></div>
			{% endif %}
			{% if images.product_image_3 %}
			<a  class="fancybox" href="{{ images.product_image_3.url }}" data-fancybox-group="gallery" ><img  src="{{ images.product_image_3.url }}" alt="" height="120" width="120"></a>&nbsp;&nbsp;&nbsp;&nbsp;
			{% else %}
			<div></div>
			{% endif %}
			{% if images.product_image_4 %}
			<a  class="fancybox" href="{{ images.product_image_4.url }}" data-fancybox-group="gallery" ><img  src="{{ images.product_image_4.url }}" alt="" height="120" width="120"></a><hr>
			{% else %}
			<div></div>
			{% endif %}
			{% if images.product_image_5 %}
			<a  class="fancybox" href="{{ images.product_image_5.url }}" data-fancybox-group="gallery"><img  src="{{ images.product_image_5.url }}" alt="" height="120" width="120"></a><hr>
			{% else %}
			<div></div>
			{% endif %}

			{% endfor %}
		</div>
	</div>

	</div>
</div>



    <script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
	</script>
<script type="text/javascript">
	$(document).ready(function() {
	$(".fancybox-button").fancybox({
		prevEffect		: 'none',
		nextEffect		: 'none',
		closeBtn		: false,
		helpers		: {
			title	: { type : 'inside' },
			buttons	: {}
		}
	});
});
</script>
{% endblock content %}
