{% extends 'base2.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts in Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="row  upload-product-bg product-details-window col-sm-6 ">
        {% if user.is_authenticated %}
        <table class="table table-hover table-condensed table-striped">
            <thead>
            My profile
            </thead>
            <tr>
                <td> username</td><td>{{ user.username|capfirst }}</td>
            </tr>

            <tr>
                <td> First name</td><td>{{ user.first_name|capfirst }}</td>
            </tr>
            <tr>
                <td>Last name</td><td>{{ user.last_name|capfirst }}</td>
            </tr>
            <tr>
                <td>phone number</td><td>{{  trader.trader_phone_number }}</td>
            </tr>
            <tr>
                <td>Email</td><td>{{  user.email}}</td>
            </tr>
            <tr>
                <td>Website</td><td>{{  trader.trader_website }}</td>
            </tr>
            <tr>
                <td>Date Joined</td><td>{{  user.date_joined }}</td>
            </tr>

        </table>
        {% endif %}

    </div>
    <div class="col-sm-6">
         <button class="btn upload-product-bg " type="button">
         <a href="{% url 'logout' %}">logout</a>
                &nbsp;|&nbsp;<a href="{% url 'edit_profile' %}">update profile</a>

        </button>
    </div>
</div>

{% endblock content %}
{% block footer %}{% endblock footer %}