<div id="firstNameHelpDiv">
    Your first name as it appears in your national ID card
</div>
<div id="secondNameHelpDiv">
    Your second name as it appears in your national ID card
</div>
<div id="email1HelpDiv">
    Your valid email
</div>
<div id="incomeHelpDiv">
    Your income as per the official documents
</div>