{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>

              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts in categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li class="active"><a href="{% url 'wedding_gift' %}" >{{ wedding_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'love_gift' %}" >{{ love_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'birthday_gift' %}" >{{ birthday_gifts }}</a></li>
               <li role="separator" class="divider"></li>

           <li><a href="{% url 'anniversary_gift' %}" >{{ anniversary_gifts }}</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'graduation_gift' %}" >{{ graduation_gifts }}</a></li>
          </ul>
        </li>

      </ul>
	</div>
    </div>
    <br>

    <div class="upload-product-bg">
        <div class="text-info">
        {% if messages  %}
            {% for message in messages %}
            <ul>{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}
            </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 upload-product-bg">

            <form role='form' class="form-horizontal" id='id_user_form' method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
               <div id="legend">
                    <legend class="text-info">Register</legend>
                </div>

                {% if user_form.errors %}
                <div class="text-danger">Please correct the error{{ user_form.errors|pluralize }} below.</div>
                {% for field in user_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% if trader_form.errors %}
                {% for field in trader_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% endif %}
                {% endif %}

                {% if password_error %}
                {{ password_error }}
                {% endif %}

                {% if email_error %}
                {{ email_error }}
                {% endif %}<!--end display errors-->

                {% csrf_token %}

                <!--form fields -->

                <div class="fieldWrapper">
                    <div class="control-group">
                {{ user_form.first_name.errors}}

                        <label class="control-label" for="{{ user_form.first_name.id_for_label }}">First name:</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.first_name }}
                        </div>
                 </div>
                 <div class="fieldWrapper">
                    <div class="control-group">
                {{ user_form.last_name.errors}}
                <label class="control-label" for="{{ user_form.last_name.id_for_label }}">Last name:</label>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.last_name }}
                        </div>
                 </div>

                 <div class="fieldWrapper">
                    <div class="control-group">
                {{ user_form.username.errors}}
                <label class="control-label" for="{{ user_form.username.id_for_label }}">Username:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.username }}
                        </div>
                 </div>
                 <div class="fieldWrapper">
                    <div class="control-group">
                {{ user_form.email.errors}}
                <label class="control-label" for="{{ user_form.email.id_for_label }}">Email:</label>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.email }}
                        </div>
                 </div>

                    <div class="control-group">
                     {{ user_form.password.errors}}
                <label class="control-label" for="{{ user_form.password.id_for_label }}">Password:</label>

                      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.password }}
                 </div>
                <div class="fieldWrapper">
                    <div class="control-group">
                {{ user_form.password_confirmation.errors}}
                <label class="control-label" for="{{ user_form.password_confirmation.id_for_label }}">Password(confirm)</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ user_form.password_confirmation }}
                        </div>
                 </div>
                <div class="fieldWrapper">
                    <div class="control-group">
                {{ trader_form.trader_phone_number.errors}}
                <label class="control-label" for="{{ trader_form.trader_phone_number.id_for_label }}">Phone number</label>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                {{ trader_form.trader_phone_number }}
                        </div>
                 </div>
                <div class="">
                    <div class="control-group">
                {{ trader_form.trader_website.errors}}
                <label class="control-label" for="{{ trader_form.trader_website.id_for_label }}">Website</label>
                &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                {{ trader_form.trader_website }}
                        </div>
                 </div>
                <div class="control-group">
      <!-- Button -->
                     <div class="controls">
                         <button class="btn btn-success">Register</button>
                     </div>
                 </div>

            </form>
        </div>

    </div>


{% endblock content %}

{% block footer %}{% endblock footer%}