{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <br>
   <div class="row ">
        <div class="col-sm-4">
            <div class="footer-content row-centered" >
                About Pata Gift Services
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-content row-centered" >
                Terms and Conditions
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-content row-centered" >
                Our Contacts
            </div>
        </div>
    </div>
    <hr>
 <div class="row">
         &copy;&nbsp;Joan Njeri - 2015
    </div>
</div>
{% endblock content %}
