{% if products.count > 0 %}

{% for product in products %}
<ul class="text-success"><a href="{% url 'product_details' product.id %}">{{ product.product_name|capfirst }}</a> </ul>
{% endfor %}
{% else %}
<span class="text-warning">No products with the search terms you provided</span>
{% endif %}