<!DOCTYPE html>
<html>

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata gift Kenya</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/awesome-css.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/highcharts.js' %}"></script>
    <script src="{% static 'bootstrap/js/main.js' %}"></script>
    <script src="{% static 'bootstrap/js/ajax.js' %}"></script>
    <script src="{% static 'bootstrap/js/toastr.js' %}"></script>
    <script src="{% static 'bootstrap/js/lightbox.js' %}"></script>




</head>
<body>

{% block header %}
<div class="container-fluid ">

    <div class="row header-bg">

            <div class="col-sm-12 row-centered">
                <div class="row">Patagift(KE)</div>

            </div>

    </div>

</div>
{% endblock %}

{% block login_signup %}{% endblock login_signup %}
{% block search %}{% endblock search %}
{% block content %} {% endblock content %}
{% block footer %}

<div class="container-fluid row-centered  ">

   <div class="row navbar  navbar-fixed-bottom header-bg ">
        <div class="col-sm-4">
             About Pata Gift Services
            <div class="footer-content " >

                <h4 class="text-warning">coming soon</h4>
            </div>
        </div>
        <div class="col-sm-4">
            Terms and conditions
            <div class="footer-content " >
                <h4 class="text-warning">coming soon</h4>
            </div>
        </div>
        <div class="col-sm-4 ">
            Our Contacts
            <div class="footer-content" >
                <h4></h4>
                <table>
                    <tr>
                        <td>Help line</td><td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 230</td>
                    </tr>
                    <tr>
                        <td>Email</td><td><i class="glyphicon glyphicon-mail"></i>&nbsp;&nbsp;sales@patagift.com</td>
                    </tr>
                </table>

            </div>
        </div>
       &copy;&nbsp;Joan Njeri - 2015
    </div>


</div>
{% endblock footer %}
</body>
</html>