<!DOCTYPE html>
<html>

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata gift Kenya</title>
    <script src="{% static 'bootstrap/js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/jquery2.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/main.js' %}"></script>
    <script src="{% static 'bootstrap/js/ajax.js' %}"></script>
    <script src="{% static 'bootstrap/js/toastr.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/awesome-css.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jquery.fancybox.css'  %}" media="screen">
    <script src="{% static 'bootstrap/js/jquery.fancybox.pack.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jquery.fancybox-buttons.css'  %}" media="screen">
    <script src="{% static 'bootstrap/js/jquery.fancybox-buttons.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jquery.fancybox-thumbs.css'  %}" media="screen">
    <script src="{% static 'bootstrap/js/jquery.fancybox-thumbs.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.fancybox-media.js' %}"></script>

<script>
    $(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */

			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			// Disable opening and closing animations, change title type
			$(".fancybox-effects-b").fancybox({
				openEffect  : 'none',
				closeEffect	: 'none',

				helpers : {
					title : {
						type : 'over'
					}
				}
			});

			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			// Remove padding, set opening and closing animations, close if clicked and disable overlay
			$(".fancybox-effects-d").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					overlay : null
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});


			/*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

			$('.fancybox-thumbs').fancybox({
				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : false,
				nextClick : true,

				helpers : {
					thumbs : {
						width  : 50,
						height : 50
					}
				}
			});

			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

			/*
			 *  Open manually
			 */

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : '1_b.jpg',
						title : 'My title'
					}, {
						href : '2_b.jpg',
						title : '2nd title'
					}, {
						href : '3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		});
</script>
<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}



	</style>


</head>
<body>
{% block header %}
<div class="container-fluid ">
    <div class="container">
    <div class="row">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4 pull-right">
            {% if user.is_authenticated %}
            <span class="text-success">{{ user.username|capfirst }}</span>&nbsp;&nbsp;&nbsp;

            <a  href="{% url 'my_account' %}" class="btn btn-info">My account&nbsp;&nbsp;|&nbsp;&nbsp;Sale</a>&nbsp;&nbsp;
            <a  href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a  href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;
            <a  href="{% url 'register' %}">Register</a>
            &nbsp;&nbsp;&nbsp;<span class="my-account">Kindly register to create free ads.</span>
            {% endif %}
        </div>
    </div>

</div>

    <div class="row header-bg">
            <div class="col-sm-12 row-centered">
            Patagift(KE)
    </div>

</div>
{% endblock %}

{% block login_signup %}{% endblock login_signup %}
{% block search %}{% endblock search %}

{% block content %} {% endblock content %}
{% block footer %}

<div class="container-fluid row-centered  ">

   <div class="row navbar   header-bg ">
        <div class="col-sm-4">
             About Pata Gift Services
            <div class="footer-content " >

                <h4 class="text-warning">coming soon</h4>
            </div>
        </div>
        <div class="col-sm-4">
            Terms and conditions
            <div class="footer-content " >
                <h4 class="text-warning">coming soon</h4>
            </div>
        </div>
        <div class="col-sm-4">
            Our Contacts
            <div class="footer-content" >
				<h4></h4>
                <table>
                    <tr>
                        <td>Help line</td><td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 230</td>
                    </tr>
                    <tr>
                        <td>Email</td><td><i class="glyphicon glyphicon-mail"></i>&nbsp;&nbsp;sales@patagift.com</td>
                    </tr>
                </table>

            </div>
        </div>
       &copy;&nbsp;Joan Njeri - 2015
    </div>


</div>
{% endblock footer %}
</body>
</html>